@media(min-width:0) and (max-width:575px) {
    .t-1{
        margin-top: 20px;
        text-align: center;
    }
    .pe-1{
        font-size: 20px;
    }
    .we-1{
        margin-top: 20px;
        font-size: 30px;
        text-align: center;
    }
    .te-1{
        margin-right: 3px;
        text-align: center;
    }
    .ic-1{
        margin-right: 3px;
        text-align: center;
    }
    .fo-1{
        margin-right: 3px;
        text-align: center;
    }
    .btn-1{
        justify-content: center;
        align-items: center;
    }
    .cl-1{
        width: 100%;
        height: auto;
    }
    .cl-2{
        display: flex;
    }
    .ico-1{
        margin-right: -26px;
    }
    .bl-1{
        text-align: center;
    }
    .for-1{
        margin-top: 30px;
        padding: 10px 22px;
        background-color: #21262c;
        text-align: center;
        color: #ffffff;
        border: solid 1px #524e4e;
        border-radius: 20px;
    }
    .btn-3{
        text-decoration: none;
        padding: 6px 20px;
        background-color: #7492dc;
        margin-left: 83px;
        border: 1px solid #7492dc;
        border-radius: 50px;
        color: #ffffff;
    }
}